.calculator {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 235px;
  display: grid;
  grid-template-columns: repeat(4, 58px);
  grid-template-rows: 80px repeat(5, 50px);
  gap: 1px;
  background-color: #585e61;
  border: 1px solid #585e61;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .4);
  border-radius: 5px;
  font-family: 'sf-pro', sans-serif;
  font-size: 22px;
  line-height: 1;
}