.main {
  box-sizing: border-box;
  margin: 0;
  padding: 2rem;
  width: 100%;
  grid-column: 2;
  place-self: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 0 2px rgba(251, 156, 139, 0.6);
  background-color: #fff;
}