.song__slider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  height: 3px;
  width: 0;
  background-color: var(--global--primary--dark--Color);
  border-radius: 20px;
}

.song__slider::after {
  content: "";
  position: absolute;
  top: -150%;
  right: -8px;
  height: 12px;
  width: 12px;
  background-color: var(--global--secondary--Color);
  border: 1px solid var(--global--primary--dark--Color);
  border-radius: 50%;
}