.music-player-all__button-next {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 30px;
  height: 30px;
  background-color: var(--global--secondary--Color);
  background-image: url(../../../images/next.svg);
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.music-player-all__button-next:hover {
  cursor: pointer;
  transform: scale(1.1);
}