.track {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: var(--global--secondary--Color);
  border-radius: 20px;
  border: 1px solid var(--global--primary--dark--Color);
  transition: all .5s ease-in-out;
}

.track:hover {
  background-color: var(--global--secondary--dark--Color);
}

.track ~ .track {
  margin: 20px 0 0;
}