.music-player-all {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 1px solid rgba(242, 102, 0, 1);
  transition: background-image 3s;
}